body {
    margin: 30px;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    background-color:#0E0C0A;
    color: aliceblue;
  }
  .card {
    margin: 2rem 2rem;
    background-color:#C0C0C0;
    color:black;

  }
  .links{
    justify-content: center;
    align-items: center;
  }
  ul.links_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .links_list li{
    list-style: none;
    padding: 0.8rem 2rem ; 
  }
  a {
    text-decoration: none;
  }

.footer{
  display: flex;
  padding: 20px;
  align-self: center;
  justify-content: space-between;
}
