body {
    margin: 30px;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    background-color:#0E0C0A;
    color: aliceblue;
  }
  .card {
    margin: 2rem 2rem;
    background-color:#C0C0C0;
    color:black;

  }
  .links{
    justify-content: center;
    align-items: center;
  }
  ul.links_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .links_list li{
    list-style: none;
    padding: 0.8rem 2rem ; 
  }
  a {
    text-decoration: none;
  }
  .favorites{
    background-image: url("https://images.unsplash.com/photo-1628773193539-ad29c647c071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFpcnBvZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    border: solid;
    background-size: contain;
  }
.footer{
  display: flex;
  padding: 20px;
  align-self: center;
  justify-content: space-between;
}
